@import "tailwindcss";

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue";
}

.state {
  position: relative;
  display: table-row;
}
.state::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 72px;
  height: 72px;
  border: 1px solid #1b1b1b;
  border-radius: 50%;
  pointer-events: none; 
  display: block;
}
